        <!------------	NAVIGATION BAR ---------------- -->
        <nav class="navbar fixed-top navbar-expand-sm scrolling-navbar bg-dark navbar-dark justify-content-between ">
            <span class=" ml-5 navbar-brand text-info" >Welcome,  <%= user[0].first_name %> <%= user[0].last_name %></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="mr-5 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="active ">
                        <a class="nav-link" href="/" title="All dogs"><i class="fab fa-wolf-pack-battalion"></i> All Dogs</a>
                    </li>
                    <li class="active">
                        <a class = "nav-link" title="Add dog" data-toggle="modal" data-target="#modalCreate"><i class="fas fa-plus fa-sm"></i> Dog</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ">
                    <li class="active"><a class="nav-link" href = "/logout" title="Log out"><i class="fas fa-sign-out-alt fa-sm" aria-hidden="true"></i> Log out</a></li>
                </ul>
            </div>
        </nav>
        <br>